body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
}
.sidebar-left,
.sidebar-right {
  background: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  overflow-y: auto;
}
.sidebar-left {
  width: 250px;
}
.sidebar-right {
  width: 300px;
  right: 0;
  left: auto;
}
.content {
  margin-left: 270px;
  margin-right: 320px;
  padding: 20px;
  width: calc(100% - 590px);
}
.content-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.sidebar-left h2,
.sidebar-left h3 {
  margin-top: 0;
}
.sidebar-right h3 {
  margin-top: 0;
}
input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
#player {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.badge {
  font-size: 24px;
  color: gold;
  margin: 10px 0;
}
.message {
  margin-top: 20px;
}
.channel-list ul,
.watched-list ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style-type: none;
}
.channel-list li,
.watched-list li {
  padding: 5px 0;
  list-style-type: none;
}
.watched-list img {
  width: 100px;
  height: 56px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}
.watched-list li {
  display: flex;
  align-items: center;
}
.loading {
  display: none;
  text-align: center;
  font-size: 18px;
  color: #007bff;
}
#watchedList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#watchedList li {
  width: 200px;
  border: 8px solid black;
  border-radius: 8px;
  overflow: hidden;
}
#watchedList li img {
  width: 100%;
  cursor: pointer;
}
